:root {
    --main-color: #6cace4;
    --secondary-color: #ffb81c;
    --dark-color: #333;
    --light-color: #eee;
    --bad-color: #ff0000;
    --warning-color: #ffe150;
    --good-color: #008f39;
    --border-dark-color: #999;
    --border-light-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.w100 {
    width: 100%;
}

.w90 {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    border-bottom: 1px solid #888;
}

header img {
    width: 150px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li, footer ul li {
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--light-color);
    transition: color 0.1s;
}

nav ul li:active, footer ul li:active {
    color:  var(--secondary-color);
}

.buscador-menu form {
    gap: 1px;
}

.buscador-menu input {
    padding-left: 10px;
    width: 600px;
    height: 40px;
    font-size: 18px;
    color: var(--dark-color);
}

input:focus, button:focus {
    outline: none;
}

i {
    cursor: pointer;
    font-size: 28px;
    color: var(--light-color);
}

.buscador-menu i {
    padding: 5px;
}

.buscador-menu i, .email-newsletter i {
    color: #555;
}

.buscador-menu input, .buscador-menu i, .email-newsletter input, .email-newsletter i {
    background-color: var(--light-color);
    border: 1px solid var(--border-dark-color);
    border-radius: 4px;
}

button {
    border: none;
    border-radius: 4px;
}

.container-usuario {
    gap: 15px;
}

.iconos-usuario {
    gap: 20px;
    justify-content: right;
    width: 160px;
}

.fa-heart-circle-plus, .fa-heart, .fa-cart-plus, .fa-cart-shopping {
    transition: color 0.1s;
}

.fa-heart-circle-plus:active, .fa-heart:active, .fa-cart-plus:active, .fa-cart-shopping:active {
    color: var(--secondary-color);
}

.boton-logout {
    cursor: pointer;
    background-color: var(--main-color);
}

.datos-sesion {
    text-align: right;
}

.datos-sesion p {
    color: var(--light-color);
    font-size: 18px;
    font-weight: 600;
}

.boton-logout {
    color: var(--light-color);
    font-size: 16px;
}

main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 40px;
    min-height: 450px;
    background-color: #fafafa;
}

h1 {
    font-size: 31px;
}
h2 {
    font-size: 30px;
}

h1, h2 {
    text-align: center;
}

.cards-container {
    gap: 40px;
    flex-wrap: wrap;
}

.card-producto {
    padding: 10px;
    flex-direction: column;
    width: 230px;
    box-shadow: 0 0 15px #bbb;
    text-align: center;
    gap: 5px;
}

.card-producto-detail {
    padding: 10px;
    box-shadow: 0 0 15px #bbb;
    gap: 20px;
}

.nombre-producto {
    font-size: 16px;
    font-weight: 500;
}

.imagen-card-producto, .imagen-card-producto-detail {
    position: relative;
    display: inline-block;
}

.card-producto img {
    width: 180px;
    height: 180px;
    display: block;
}

hr {
    width: 90%;
    margin: 3px auto;
    border: 1px solid var(--border-dark-color);
}

.card-producto hr {
    border: 1px solid var(--border-light-color);
    margin: 5px 0;
}

.precio-producto {
    margin: 5px 0;
    font-size: 22px;
    font-weight: 700;
}

.precio-producto-detail {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.final-card {
    gap: 15px;
}

.final-card p {
    padding: 3px;
    width: 35px;
    border: 1px solid var(--border-dark-color);
    border-radius: 4px;
    text-align: center;
}

.final-card:has(.add-cart:focus-within) p {
    color: var(--good-color);
}

.final-card:has(.decrement-cart:focus-within) p {
    color: var(--bad-color);
}

.fa-minus, .fa-plus {
    padding: 5px;
    font-size: 17px;
    width: 30px;
    text-align: center;
    border: 1px solid var(--border-dark-color);
    border-radius: 4px;
}

.fa-minus {
    background-color: var(--bad-color);
}

.fa-plus {
    background-color: var(--good-color);
}

footer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    background-color: #777;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 350px;
}

.title-footer {
    font-size: 23px;
    color: var(--light-color);
}

.iconos-redes-sociales {
    flex-direction: row;
    gap: 20px;
}

.fa-instagram:active, .fa-facebook:active {
    transition: color 0.1s;
}

.fa-instagram:active, .fa-facebook:active, .fa-twitter:active {
    color: var(--secondary-color);
}

.categorias ul {
    flex-direction: column;
    gap: 10px;
}

.email-newsletter form {
    justify-content: center;
    gap: 2px;
}

.email-newsletter input {
    padding-left: 10px;
    width: 250px;
    height: 35px;
    font-size: 16px;
}

.email-newsletter i {
    padding: 4px;
    font-size: 25px;
    background-color: var(--light-color);
}

.card-message {
    padding: 10px;
    width: 500px;
    height: 400px;
    border-radius: 4px;
}

.card-message-error {
    box-shadow: 0 0 15px var(--bad-color);;
}

.card-message-success {
    box-shadow: 0 0 15px var(--good-color);
}

.card-message-warning {
    box-shadow: 0 0 15px var(--main-color);
}

.card-message h2 {
    margin: 30px 0
}

.card-message-error hr {
    border: 1px solid var(--bad-color);
}

.card-message-success hr {
    border: 1px solid var(--good-color);
}

.card-message-warning hr {
    border: 1px solid var(--main-color);
}

.card-message-detail {
    gap: 20px;
    height: 300px;
    text-align: center;
}

.card-message-detail h2, .card-message-detail h3 {
    color: var(--dark-color);
}

.card-message-detail h2 {
    margin: 0;
}

.card-message-detail h3 {
    font-weight: 500;
}

.boton-card-message {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: var(--light-color);
}

.boton-card-message-error {
    background-color: var(--bad-color);
}

.boton-card-message-success {
    background-color: var(--good-color);
}

.boton-card-message-warning {
    background-color: var(--main-color);
}

.cards-container-list {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
}

.cards-producto {
    flex-direction: column;
    gap: 15px;
}

.card-producto-list {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    box-shadow: 0 0 10px #bbb;
}

.cards-container .product-is-in-cart, .cards-producto .product-is-in-cart, .product-is-in-cart {
    box-shadow: 0 0 10px var(--good-color);
}

.imagen-card-producto img {
    width: 200px;
    height: 200px;
}

.imagen-card-producto-detail img {
    width: 400px;
    height: 400px;
}

.card-producto-list a img {
    width: 80px;
    height: 80px;
}

.manage-cantidad-list {
    flex-direction: row;
    align-items: center;
}

.nombre-producto {
    margin: 0;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.detalle-producto-carrito {
    width: 250px;
    text-align: center;
}

.detalle-precio-carrito {
    width: 100px;
    text-align: center;
}

.fa-xmark {
    color: var(--bad-color);
    font-size: 25px;
}

.subtotal-price, .manage-cantidad-list p {
    font-size: 20px;
    font-weight: 500;
}

.xmark {
    text-align: center;
}

.subtotal-price-detail {
    font-size: 11px;
}

.card-total-cart {
    padding: 5px;
    box-shadow: 0 0 10px #bbb;
    width: 500px;
    height: 250px;
}

.card-total-cart p:first-child {
    font-size: 25px;
}

.final-cart-price {
    font-size: 40px;
    font-weight: 600;
}

.imagen-card-producto .fa-heart, .imagen-card-producto .fa-heart-favorite, .imagen-card-producto-detail .fa-heart, .imagen-card-producto-detail .fa-heart-favorite {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    color: #bbb;
}

.imagen-card-producto .fa-heart:active, .imagen-card-producto .fa-heart-favorite, .imagen-card-producto-detail .fa-heart:active, .imagen-card-producto-detail .fa-heart-favorite {
    color: var(--bad-color);
}

.info-producto-detail {
    padding: 20px;
    padding-left: 40px;
    border-left: 1px solid var(--border-light-color);
    height: 100%;
    gap: 20px;
    text-align: center;
}

.add-to-cart, .add-all-favorites-to-cart, .clear-cart, .clear-favorites, .pay-cart {
    gap: 15px;
    color: var(--light-color);
    border-radius: 4px;
}

.pay-cart {
    width: 95%;
}

.add-to-cart a, .add-all-favorites-to-cart a, .clear-favorites a, .clear-cart a, .pay-cart a {
    padding: 10px;
    border: 1px solid var(--border-dark-color);
    box-shadow: 0 0 10px #bbb;
    text-align: center;
    border-radius: 4px;
    color: var(--light-color);
}

.add-all-favorites-to-cart a, .pay-cart a, .add-to-cart a, .add-all-favorites-to-cart .add-all-favorites-important {
    background-color: var(--good-color);
}

.clear-favorites a, .clear-cart a {
    background-color: var(--bad-color);
}


@media screen  and (max-width: 1400px) {
    header {
        justify-content: space-evenly;
    }

    .buscador-menu input {
        width: 500px;
    }
}


@media screen  and (max-width: 1350px) {
    .cards-container-list {
        flex-direction: column-reverse;
    }

    .card-total-cart {
        width: 800px;
    }
}


@media screen  and (max-width: 1300px) {
    .email-newsletter input {
        width: 200px;
    }

    .buscador-menu input {
        width: 400px;
    }

    nav ul {
        gap: 40px;
    }
}


@media screen  and (max-width: 1200px) {
    footer {
        padding: 30px;
    }
    
    footer div {
        width: 300px;
    }
}


@media screen  and (max-width: 1000px) {
    header {
        justify-content: space-around;
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
        gap: 70px;
    }

    footer div {
        width: 500px;
    }

    hr {
        margin: 0 auto;
        width: 60%;
    }
}


@media screen  and (max-width: 850px) {
    .buscador-menu input {
        width: 300px;
    }

    nav ul {
        gap: 30px;
    }
    
    .card-total-cart, .card-producto-list {
        width: 700px;
    }

    .imagen-card-producto-detail img {
        width: 250px;
        height: 250px;
    }
}


@media screen  and (max-width: 780px) {
    nav ul {
        gap: 15px;
    }

    nav ul li, footer ul li {
        font-size: 14px;
    }

    .card-total-cart, .card-producto-list {
        width: 600px;
    }
}


@media screen  and (max-width: 700px) {
    .buscador-menu {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li, footer ul li {
        font-size: 18px;
    }

    .card-message {
        width: 400px;
        height: 400px;
    }

    .card-total-cart, .card-producto-list {
        width: 500px;
    }

    .imagen-card-producto-detail img {
        width: 200px;
        height: 200px;
    }
}


@media screen  and (max-width: 600px) {
    .container-xmark {
        display: none;
    }

    .card-total-cart, .card-producto-list {
        width: 450px;
    }

    .card-producto-detail {
        flex-direction: column;
    }

    .info-producto-detail {
        padding: 20px;
        border-left: none;
    }

    .card-message {
        width: 400px;
    }

    footer div {
        width: 300px;
    }
}


@media screen  and (max-width: 500px) {
    header img, .iconos-menu {
        width: 120px;
    }

    nav ul {
        display: none;
    }

    main {
        padding: 40px 10px;
    }

    .card-total-cart, .card-producto-list {
        width: 400px;
    }

    footer {
        padding: 30px 10px;
    }
}


@media screen  and (max-width: 420px) {
    .card-total-cart, .card-producto-list {
        width: 350px;
    }

    main {
        padding: 40px 5px;
    }

    .card-producto-detail {
        padding: 0;
    }

    .info-producto-detail {
        padding: 10px;
    }
}
