* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    background-color: #74acdf;
    border-bottom: 1px solid #888;
}

header img {
    width: 150px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li, footer ul li {
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    color: #eee;
}

.buscador-menu form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.buscador-menu input {
    padding-left: 10px;
    width: 600px;
    height: 40px;
    font-size: 18px;
    color: #333;
}

input:focus, button:focus {
    outline: none;
}

i {
    cursor: pointer;
    font-size: 28px;
    color: #eee;
}

.buscador-menu i {
    padding: 5px;
}

.buscador-menu i, .email-newsletter i {
    color: #333;
}

.buscador-menu input, .buscador-menu i, .email-newsletter input, .email-newsletter i {
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 4px;
}

button {
    border: none;
    border-radius: 4px;
}

.iconos-menu {
    display: flex;
    margin-right: 20px;
    justify-content: right;
    gap: 20px;
    width: 150px;
}

main {
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.texto-principal-main {
    margin: 10px 0;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}

h1, h2 {
    text-align: center;
}

.card {
    padding: 10px;
    box-shadow: 0 0 15px #bbb;
    text-align: center;
}

.card p {
    font-size: 23px;
}

.card img {
    width: 250px;
    height: 250px;
}

.divisor-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #ddd;
    margin: 10px 0;
}

.final-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.final-card  p {
    font-size: 22px;
    font-weight: 600;
}

.fa-minus, .fa-plus {
    padding: 6px;
    border-radius: 50%;
    font-size: 22px;
    width: 35px;
    text-align: center;
    border: 1px solid #999;
}

.fa-minus {
    background-color: #ff0000;
}

.fa-plus {
    background-color: #008f39;
}

footer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    background-color: #777;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 350px;
}

h4 {
    font-size: 23px;
    color: #eee;
}

.iconos-redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

hr {
    width: 100%;
    border: 1px solid #999;
    margin: 3px 0;

}

.categorias ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.email-newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.email-newsletter input {
    padding-left: 10px;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

.email-newsletter i {
    padding: 4px;
    font-size: 25px;
    background-color: #eee;
}