{% extends 'base.html' %}
{% load static %}

{% block title %}Mi cuenta{% endblock %}

{% block content %}
    <main>
        
        <h2>Información Personal</h2>
        <div>
            <h3>Mis datos</h3>
            <p>Nombre: {{ user. }}</p>
            <p>Apellido: {{ user. }}</p>
            <p>Correo Electrónico: {{ user. }}</p>
            <p>Teléfono: {{ user. }}</p>
            <p>Dirección: {{ user. }}</p>
            <p>Ciudad: {{ user. }}</p>
            <p>Estado: {{ user. }}</p>
            <p>Código Postal: {{ user.zip_code }}</p>
        </div>
        <div>
            <h3>Historial de compras</h3>
    </main>
{% endblock %}
