<section class="relative w-full h-96">
    <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1754296951/banner_lwzsyk.webp" alt="Banner Ragusa" class="absolute inset-0 w-full h-full object-cover z-0" fetchpriority="high">
    <div class="absolute inset-0 bg-black/60 z-10"></div>
    <div class="relative z-20 flex flex-col items-center justify-center h-full text-center text-white px-4">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">RAGUSA E-COMMERCE</h1>
        <p class="text-2xl">Find technology products at low prices</p>
    </div>
</section> 
