{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="{% static 'images/ragusa.png' %}" alt="Logo">
        </a>
        <nav>
            <div class="buscador-menu">
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="nombre_producto" placeholder="Busca un producto">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div>
                <ul>
                    <a href="{% url 'home' %}">
                        <li>Todos</li>
                    </a>
                    {% for categorie in categories %}
                        <a href="{% url 'filter' categorie.category %}">
                            <li>{{ categorie.category }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="iconos-menu">
            <a href="{% url 'account' %}">
                <i class="fa-solid fa-user-large"></i>
            </a>
            <a href="{% url 'cart' %}" class="cart_icon_amount">
                <i class="fa-solid fa-cart-shopping"></i>
                {% if total_cart_amount > 0 %}
                    <p class="total_cart_amount">${{total_cart_amount}}</p>
                {% endif %}
            </a>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="redes-sociales">
            <h3 class="title-footer">Redes sociales</h3>
            <hr>
            <div class="iconos-redes-sociales">
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://x.com/" target="_blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
        <div>
            <h3 class="title-footer">Categorías</h3>
            <hr>
            <div class="categorias">
                <ul>
                    <a href="{% url 'home' %}">
                        <li>Todos</li>
                    </a>
                    {% for categorie in categories %}
                    <a href="{% url 'filter' categorie.category %}">
                        <li>{{ categorie.category }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h3 class="title-footer">Recibe nuestro newsletter</h3>
            <hr>
            <div class="email-newsletter">
                <form action="{% url 'newsletter' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="email" placeholder="Escribe tu email">
                    <button type="submit">
                        <i class="fa-solid fa-envelope"></i>
                    </button>
                </form>
            </div>
        </div>
    </footer>
</body>
</html>
