{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <a href="/home/">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <nav>
            <div class="buscador-menu">
                <form action="/search/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="nombre_producto" placeholder="Busca un producto">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div>
                <ul>
                    <a href="/home/">
                        <li>Todos</li>
                    </a>
                    {% for categorie in categories %}
                        <a href="/filter/{{ categorie.category }}">
                            <li>{{ categorie.category }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="iconos-menu">
            <a href="/account/">
                <i class="fa-solid fa-user-large"></i>
            </a>
            <a href="/cart/">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="redes-sociales">
            <h4>Redes sociales</h4>
            <hr>
            <div class="iconos-redes-sociales">
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://x.com/" target="_blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
        <div>
            <h4>Categorías</h4>
            <hr>
            <div class="categorias">
                <ul>
                    <a href="/home/">
                        <li>Todos</li>
                    </a>
                    {% for categorie in categories %}
                    <a href="/filter/{{ categorie.category }}">
                        <li>{{ categorie.category }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h4>Recibe nuestro newsletter</h4>
            <hr>
            <div class="email-newsletter">
                <input type="text" placeholder="Escribe tu email">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
    </footer>
</body>
</html>