{% load static %}


<footer class="bg-orange-100 border-y-1 border-gray-500">
    <a href="" class="flex justify-center items-center p-2 w-full bg-orange-400 font-semibold">
        Back to top
    </a>
    <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-4 gap-10 border-y-1 border-gray-500">
        <div>
            <img src="{% static 'images/logo.webp' %}" alt="Ragusa ecommerce logo" class="w-20 mb-3">
            <p class="text-sm">
                Ragusa ecommerce is your go-to online shop for high-quality products. Fast delivery and unbeatable deals.
            </p>
        </div>
        <div >
            <p class="text-lg font-semibold mb-3">Quick Links</p>
            <ul class="space-y-2 text-gray-500">
                <li><a href="{% url 'home' %}" class="hover:text-orange-400">Home</a></li>
                <li><a href="{% url 'favorites' %}" class="hover:text-orange-400">Favorites</a></li>
                <li><a href="{% url 'cart' %}" class="hover:text-orange-400">Cart</a></li>
            </ul>
        </div>
        <div>
            <p class="text-lg font-semibold mb-3">Contact</p>
            <ul class="space-y-2 text-gray-500">
                <li>Email: mail@mail.com</li>
                <li>Phone: +353 123 456 789</li>
                <li>Address: 123 Main St, Dublin, Ireland</li>
            </ul>
        </div>
        <div>
            <p class="text-lg font-semibold mb-3">Stay Connected</p>
            <form action="{% url 'newsletter' %}" method="POST" class="flex flex-col gap-2 max-w-80">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Your email address" class="px-3 py-1 rounded-lg bg-orange-50 outline-none" maxlength="40" required>
                <button type="submit" class="cursor-pointer bg-orange-200 hover:bg-orange-400 text-white py-1 rounded-lg">Subscribe</button>
            </form>
            <div class="flex gap-4 mt-4 text-xl text-gray-400">
                <a href="https://www.instagram.com/" rel="noopener noreferrer" class="hover:text-orange-400 cursor-pointer" aria-label="Instagram button">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/" rel="noopener noreferrer" class="hover:text-orange-400 cursor-pointer" aria-label="Facebook button">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://x.com/" rel="noopener noreferrer" class="hover:text-orange-400 cursor-pointer" aria-label="X / Twitter button">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.tiktok.com/" rel="noopener noreferrer" class="hover:text-orange-400 cursor-pointer" aria-label="TikTok button">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center text-gray-400 py-4">
        &copy; {{ current_year }} Ragusa ecommerce. All rights reserved.
    </div>
</footer>
