{% load static %}


<header>
    <nav class="flex-col">
        <div class="flex justify-between items-center gap-3 px-2 md:px-6 py-2 bg-orange-50">
            <a href="{% url 'home' %}" aria-label="Ragusa ecommerce logo" class="flex items-center gap-1 md:min-w-40 m-1">
                <img src="{% static 'images/logo.webp' %}" alt="Ragusa ecommerce logo" class="w-40 md:w-60">
            </a>
            <form action="{% url 'search' %}" method="POST" class="hidden md:flex rounded-sm">
                {% csrf_token %}
                <input type="text" name="input_text" placeholder="Search" class="px-3 w-72 outline-none bg-white rounded-sm" maxlength="40" required>
                <button type="submit" aria-label="Search button">
                    <i class="fa-solid fa-magnifying-glass p-2 text-xl rounded-r-sm cursor-pointer bg-orange-300 hover:bg-orange-200 text-white transition-colors"></i>
                </button>
            </form>
            <div class="flex items-center justify-center gap-4 text-white md:min-w-40">
                <a href="{% url 'favorites' %}" aria-label="Favorites section" class="save-scroll">
                    <div class="flex justify-center items-center gap-1 text-orange-400">
                        <i class="fa-solid fa-bookmark text-xl"></i>
                        <p class="font-semibold">Favorites</p>
                    </div>
                </a>
                <a href="{% url 'cart' %}" aria-label="Cart section" class="save-scroll">
                    <div class="flex justify-center items-center gap-1 text-orange-400">
                        <i class="fa-solid {% if has_cart > 0 %}fa-cart-plus{% else %}fa-cart-shopping{% endif %} text-xl"></i>
                        <p class="font-semibold">Cart</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="mx-auto">
            <ul class="flex flex-col items-center md:flex-row gap-2 md:gap-10 md:justify-center font-semibold w-full px-6 py-2 bg-orange-200">
                <li>
                    <a href="{% url 'home' %}" aria-label="All products">
                        All products
                    </a>
                </li>
                {% for categorie in all_categories %}
                    <li>
                        <a href="{% url 'filter_category' categorie.category|upper %}" aria-label="{{ categorie.category }} section">
                            {{ categorie.category }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
