{% load static %}


<header>
    <div class="bg-gray-950">
        <p class="p-2 text-white text-center font-semibold">Refer a friend and get € 50 after their first 3 purchases </p>
    </div>
    <nav class="flex-col">
        <div class="flex justify-between items-center px-6 py-2 bg-gray-800">
            <a href="{% url 'home' %}" aria-label="Ragusa E-Commerce logo" class="flex items-center gap-2 md:min-w-40">
                <img src="{% static 'images/logo.webp' %}" alt="Ragusa E-Commerce logo" class="w-16">
                <p class="font-semibold text-white">Ragusa<br>E-Commerce</p>
            </a>
            <form action="{% url 'search' %}" method="POST" class="hidden md:flex gap-1 bg-white rounded-lg">
                {% csrf_token %}
                <input type="text" name="input_text" placeholder="Search for a product" class="px-3 md:w-72 lg:w-96 outline-none" maxlength="40" required>
                <button type="submit" aria-label="Search button">
                    <i class="fa-solid fa-magnifying-glass p-2 bg-[#76b9f0] text-white text-xl rounded-r-lg cursor-pointer hover:bg-blue-400"></i>
                </button>
            </form>
            <div class="flex items-center justify-center gap-6 text-white md:min-w-40">
                <a href="{% url 'favorites' %}" aria-label="Favorites section" class="save-scroll">
                    <div class="flex flex-col justify-center items-center gap-1 {% if has_favorites %}text-yellow-300{% else %}hover:text-[#76b9f0]{% endif %}">
                        <i class="fa-solid fa-bookmark text-2xl"></i>
                        <p class="font-semibold">Favorites</p>
                    </div>
                </a>
                <a href="{% url 'cart' %}" aria-label="Cart section" class="save-scroll">
                    <div class="flex flex-col justify-center items-center gap-1 {% if has_cart %}text-yellow-300{% else %}hover:text-[#76b9f0]{% endif %}">
                        <i class="fa-solid {% if has_cart > 0 %}fa-cart-plus{% else %}fa-cart-shopping{% endif %} text-2xl"></i>
                        <p class="font-semibold">Cart</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="bg-gray-500 mx-auto border-y-1 border-black">
            <ul class="flex flex-col items-center gap-2 md:flex-row md:gap-12 md:justify-center text-white font-semibold w-full px-6 py-2">
                <li>
                    <a href="{% url 'home' %}" aria-label="All products">
                        All products
                    </a>
                </li>
                {% for categorie in categories %}
                    <li>
                        <a href="{% url 'filter_category' categorie.category|lower %}" aria-label="{{ categorie.category }} section">
                            {{ categorie.category }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
