{% extends 'base.html' %}
{% load static %}

{% block title %}E-Commerce Django{% endblock %}

{% block content %}
    <main>
        <div class="texto-principal-main">
            <h1>E-Commerce Django</h1>
        </div>
        <div class="cards-container">
            {% for producto in productos %}
            <div class="card">
                <image src="../static/{{ producto.image }}" alt="{{ producto.name }}">
                <p>{{ producto.name }}</p>
                <p>${{ producto.price }}</p>
            </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}

