{% extends 'base.html' %}
{% load static %}

{% block title %}E-Commerce Django{% endblock %}

{% block content %}
    <main>
        <div class="texto-principal-main">
            <h1>E-Commerce Django</h1>
        </div>
        <div class="cards-container">
            {% for producto in productos %}
                <div class="card">
                    <image src="../static/{{ producto.image }}" alt="{{ producto.name }}">
                        <hr class="divisor-card">
                        <p>{{ producto.name }}</p>
                        <div class="final-card">
                            <i class="fa-solid fa-minus"></i>
                            <p>$ {{ producto.price|floatformat:0 }}</p>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

