{% load static %}
<div class="cards-producto-favorites flex-center">
    {% if request.session.favorites.items %}
        {% for id, producto in request.session.favorites.items %}
            <div class="card-producto-favorites flex-evenly">
                <img src="{% static producto.image %}" alt="{{ producto.name }}">
                <div class="detalle-producto-cart flex-column flex-evenly flex-center">
                    <p class="nombre-producto">{{ producto.name }}</p>
                    <div class="info-cantidad-cart flex-center flex-row flex-evenly">
                        <a href="{% url 'add_to_cart' id %}" class="add-cart">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="subtotal_cart">
                    <p class="subtotal-price">${{ producto.price|floatformat:0 }}</p>
                </div>
                <div class="xmark">
                    <a href="{% url 'remove_from_favorites' id %}">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="card-producto-favorites flex-evenly clear-favorites">
            <a href="{% url 'clear_favorites' %}">
                Vaciar los favoritos
            </a>
        </div>
    {% endif  %}
</div>