{% load static %}

<div class="cards-producto flex-center">
    {% for id, producto in productos %}
        <div class="card-producto-list flex-evenly">
            <p>{{ producto.image }}</p>
            <img src="{% static producto.image %}" alt="{{ producto.name }}">
            <div class="detalle-producto-list flex-column flex-evenly flex-center">
                <p class="nombre-producto">{{ producto.name }}</p>
                <div class="manage-cantidad-list flex-center flex-row flex-evenly">
                    {% if is_cart %}
                        <a href="{% url 'decrement_from_cart' id %}" class="decrement-cart">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        <p>{{ producto.quantity }}</p>
                    {% endif %}
                    <a href="{% url 'add_to_cart' id %}" class="add-cart">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
            <div>
                {% if is_cart %}
                    {% for id_subtotal, subtotal in subtotal_dict.items %}
                        {% if id_subtotal == id %}
                            <p class="subtotal-price">${{ subtotal|floatformat:0 }}</p>
                        {% endif %}
                    {% endfor %}
                    {% if producto.quantity|stringformat:"s" > "1" %}
                        <p class="subtotal-price-detail">(${{producto.price|floatformat:0}} x {{producto.quantity}})</p>
                    {% endif %}
                {% else %}
                    <p class="subtotal-price">${{ producto.price|floatformat:0 }}</p>
                {% endif %}
            </div>
            <div class="xmark">
                {% if is_cart %}
                    <a href="{% url 'remove_from_cart' id %}">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                {% else %}
                    <a href="{% url 'remove_from_favorites' id %}">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="flex-column  
        {% if is_cart %}
            clear-cart
        {% else %}
            add-all-favorites-to-cart clear-favorites
        {% endif %}
        ">
        {% if is_cart %}
            <a href="{% url 'clear_cart' %}">
                Vaciar el carrito
            </a>
        {% else %}
            <a href="{% url 'add_all_favorites_to_cart' %}" class="special">
                Agregar todos al carrito
            </a>
            <a href="{% url 'clear_favorites' %}">
                Vaciar los favoritos
            </a>
        {% endif %}
    </div>
</div>
