{% load static %}

<div class="cards-container flex-center">
    {% for producto in productos %}
        <div class="card-producto box-shadow flex-center {% if producto.id in productos_cart %}product-is-in-cart{% endif %}">
            <a href="{% url 'detail' producto.id %}" title="{{producto.name}}">
                <div class="imagen-card-producto">
                    <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
                    <a href="{% url 'manage_favorites' producto.id %}" class="save-scroll" title="
                    {% if producto.id in productos_favoritos %}Eliminar de favoritos{% else %}Agregar a favoritos{% endif %}">
                        {% if producto.id in productos_favoritos %}
                            <i class="fa-solid fa-heart fa-heart-favorite"></i>
                        {% else %}
                            <i class="fa-solid fa-heart"></i>
                        {% endif %}
                    </a>
                </div>
                <hr class="w90">
                <p class="nombre-producto flex-center">{{ producto.name }}</p>
                <p class="precio-producto">${{ producto.price|floatformat:0 }}</p>
                
                {% include 'manage_cart_quantity.html' %}

            </a>
        </div>
    {% endfor %}
</div>
