{% load static %}
<div class="cards-container">
    {% for producto in productos %}
        <div class="card-producto">
            <div>
                <img src="{% static producto.image %}" alt="{{ producto.name }}">
                <i class="fa-regular fa-heart"></i>
            </div>
            <hr>
            <p class="nombre-producto">{{ producto.name }}</p>
            <div class="final-card">
                <a href="{% url 'decrement' producto.id %}" class="decrement-cart">
                    <i class="fa-solid fa-minus"></i>
                </a>
                <p>${{ producto.price|floatformat:0 }}</p>
                <a href="{% url 'add' producto.id %}" class="add-cart">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
