{% load static %}
<div class="cards-container flex-center">
    {% for producto in productos %}
        <div class="card-producto flex-center">
            <div class="imagen-card-producto">
                <img src="{% static producto.image %}" alt="{{ producto.name }}">
                <a href="{% url 'add_to_favorites' producto.id %}">
                    {% if request.session.favorites and producto.id|stringformat:"s" in request.session.favorites %}
                        <i class="fa-solid fa-heart fa-heart-favorite"></i>
                    {% else %}
                        <i class="fa-solid fa-heart"></i>
                    {% endif %}
                </a>
            </div>
            <hr>
            <p class="nombre-producto">{{ producto.name }}</p>
            <div class="final-card flex-evenly">
                <a href="{% url 'decrement_from_cart' producto.id %}" class="decrement-cart">
                    <i class="fa-solid fa-minus"></i>
                </a>
                <p>${{ producto.price|floatformat:0 }}</p>
                <a href="{% url 'add_to_cart' producto.id %}" class="add-cart">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
