{% load static %}

<div class="cards-container flex-center">
    {% for producto in productos %}
        <div class="card-producto flex-center {% if producto.id in productos_cart %}product-is-in-cart{% endif %}">
            <a href="{% url 'detail' producto.id %}" title="{{producto.name}}">
                <div class="imagen-card-producto">
                    <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
                    <a href="{% url 'manage_favorites' producto.id %}" class="save-scroll" title="
                    {% if producto.id in productos_favoritos %}Eliminar de favoritos{% else %}Agregar a favoritos{% endif %}">
                        {% if producto.id in productos_favoritos %}
                            <i class="fa-solid fa-heart fa-heart-favorite"></i>
                        {% else %}
                            <i class="fa-solid fa-heart"></i>
                        {% endif %}
                    </a>
                </div>
                <hr class="w90">
                <p class="nombre-producto flex-center">{{ producto.name }}</p>
                <p class="precio-producto">${{ producto.price|floatformat:0 }}</p>
                {% if producto.id in productos_cart %}
                    <div class="final-card flex-row flex-center flex-evenly">
                        <a href="{% url 'decrement_from_cart' producto.id %}" class="decrement-cart save-scroll" title="Restar del carrito">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        {% for key, value in request.session.cart.items %}
                            {% if key == producto.id|stringformat:"s" %}
                                <p>{{ value.quantity }}</p>
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'add_to_cart' producto.id %}" class="add-cart save-scroll" title="Agregar al carrito">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                {% else %}
                    <div class="flex-evenly add-to-cart w90">
                        <a href="{% url 'add_to_cart' producto.id %}" title="Agregar al carrito" class="w100 save-scroll">
                            Agregar al carrito
                        </a>
                    </div>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
