{% load static %}

<div class="cards-producto flex-center">
    {% for producto in productos %} 
        <div class="card-producto-list flex-row box-shadow flex-eveny {% if producto.id in productos_cart and not is_cart %}product-is-in-cart{% endif %}">
            <a href="{% url 'detail' producto.id %}" title="{{producto.name}}">
                <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
            </a>
            <div class="detalle-producto-carrito flex-column flex-evenly flex-center">
                <a href="{% url 'detail' producto.id %}" title="{{producto.name}}">
                    <p class="nombre-producto w100">{{ producto.name }}</p>
                </a>
                <div class="manage-cantidad-list flex-center flex-row flex-evenly">
                    
                    {% include 'manage_cart_quantity.html' %}

                </div>
            </div>
            <div class="detalle-precio-carrito">
                {% if is_cart %}
                    {% for key, value in subtotal_dict.items %}
                        {% if key == producto.id|stringformat:"s" %}
                            <p class="subtotal-price">${{ value|floatformat:0 }}</p>
                        {% endif %}
                    {% endfor %}
                    {% for key, value in request.session.cart.items %}
                        {% if key == producto.id|stringformat:"s" and value.quantity > 1 %}
                            <p class="subtotal-price-detail">({{ value.quantity }} x ${{ producto.price|floatformat:0 }})</p>    
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="subtotal-price">${{ producto.price|floatformat:0 }}</p>
                {% endif %}
            </div>
            <div class="container-xmark">
                {% if is_cart %}
                    <a href="{% url 'remove_from_cart' producto.id %}" class="save-scroll" title="Eliminar del carrito">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                {% else %}
                    <a href="{% url 'manage_favorites' producto.id %}" class="save-scroll" title="Eliminar de favoritos">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="flex-column border-radius border-radius text-color-light w100 
        {% if is_cart %}
            clear-cart
        {% else %}
            add-all-favorites-to-cart clear-favorites
        {% endif %}">
        {% if is_cart %}
            <a href="{% url 'clear_cart' %}" title="Vaciar el carrito" class="save-scroll box-shadow border-radius text-color-light">
                Vaciar el carrito
            </a>
        {% else %}
            <a href="{% url 'add_all_favorites_to_cart' %}" class="add-all-favorites-important save-scroll box-shadow border-radius text-color-light" title="Agregar todos al carrito">
                Agregar todos al carrito
            </a>
            <a href="{% url 'clear_favorites' %}" class="save-scroll box-shadow border-radius text-color-light" title="Vaciar los favoritos">
                Vaciar los favoritos
            </a>
        {% endif %}
    </div>
</div>
