{% extends 'base.html' %}

{% load static %}

{% block title %}{{ producto.name }}{% endblock %}

{% block content %}
    <main>
        <h2>Detalle de producto</h2>
        <div class="card-producto-detail box-shadow flex-center flex-row {% if producto.id in productos_cart %}product-is-in-cart{% endif %}">
            <div class="imagen-card-producto-detail">
                <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
                <a href="{% url 'manage_favorites' producto.id %}" class="save-scroll" title="
                {% if producto.id in productos_favoritos %}Eliminar de favoritos{% else %}Agregar a favoritos{% endif %}">
                    {% if producto.id in productos_favoritos %}
                        <i class="fa-solid fa-heart fa-heart-favorite"></i>
                    {% else %}
                        <i class="fa-solid fa-heart"></i>
                    {% endif %}
                </a>
            </div>
            <div class="info-producto-detail flex-center flex-column flex-evenly">
                <h2 class="flex-center">{{ producto.name }}</h2>
                <hr class="w90">
                <p class="descripcion-producto">{{ producto.description }}</p>
                <p class="precio-producto-detail">${{ producto.price|floatformat:0 }}</p>
                
                {% include 'manage_cart_quantity.html' %}

            </div>
        </div>
    </main>
{% endblock %}
