{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
    <main>
        <div class="texto-principal-main">
            <h2>Producto buscado: {{ query }}</h2>
            <h3>Coincidencias encontradas: {{ resultados }}</h3>
        </div>
        <div class="cards-container">
            {% for producto in productos %}
                <div class="card">
                    <img src="{% static producto.image %}" alt="{{ producto.name }}">
                    <hr class="divisor-card">
                    <p>{{ producto.name }}</p>
                    <div class="final-card">
                        <i class="fa-solid fa-minus"></i>
                        <p>$ {{ producto.price|floatformat:0 }}</p>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
